body {
    font-family: Arial, sans-serif;
    background-color: Bisque;
    padding: 0;
    margin: 0;
    background-color: Bisque;
    background-image: repeating-linear-gradient(11deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 0px, transparent 4px);
    background-size: 8px;
}

h2 {
    margin-top: 12px;
    margin-left: 5%;
}

h6 {
    text-align: center;
    padding: 2px;
    margin-bottom: 5px;
    font-size: 32px;
}

li {
    list-style: none;
    padding-left: 0%;
}

ul {
    padding-left: 10%;
}

button {
    margin: 3px;
    margin-left: 10%;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    background-color: Grey;
    color: White;
    border: none;
    border-radius: 3px;
    width: 75%;
}

.category-button {
    margin: 1px;
    /*margin-left: 10%;*/
    padding: 5px 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: RGB(20,20,40);
    color: White;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: Navy;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

caption {
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}

td, th {
    border: 3px solid black;
    text-align: left;
    padding: 8px;
}


/* ------------------------HEADER--------------------------*/
.header {
    text-align: center;
    padding: 0px;
}

.about {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin: 10px 30% 10px 10%;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    margin-bottom: 0.5em;
}

.about-box:hover{
    background-color: Navy;
    color: white;
}

/*-------------------------CONTENT-----------------------*/
.content {
    display: flex;
    flex: 1;
    padding: 10px;
}

.aside-1 {
    flex: 0 0 20%;
    padding: 10px;
    text-align: left;
}

.aside-2 {
    flex: 0 0 20%;
    padding: 10px;
}

.main {
    flex: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*position: relative;*/
}

/*------------------------------CATEGORIES---------------------*/
#category-list {
    max-height: 450px;
    overflow-y: scroll;
    padding-left: 0;
    margin-left: 10%;
    margin-right: 10%;
    list-style-type: none;
    max-width: 80%;
}

#category-list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

#category-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#category-list::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

/*--------------------------RESULTS---------------------*/
#result-container {
    width: 80%;
}

#result-json {
    width: 100%;
    height: 300px;
    font-size: 16px;
    padding: 10px;

    /*allows result box to resize*/
    /*resize: none;*/
}

#result-df {
    margin-top:100px;
}

#reroll-btn {
    padding: 20px 40px;
    font-size: 24px;
    margin-top: 5px;
    margin-left: 200px;
    background-color: Grey;
    color: White;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    text-align: center;
}

#reroll-btn:hover {
    background-color: Navy;
}

/*-----------------------DICE------------------------*/
.dice {
    font-size: 100px;
    font-weight: 800;
    margin-top: 0;
    padding: 100px 0px;
}

.dice::after {
    content: '';
    animation: rolling 6s linear infinite;
}

.dice-1 {
    text-align: top;
}

.dice-2 {

}

@keyframes rolling {
    0% { content: '\2680'; }
    16.7% { content: '\2681'; }
    33.4% { content: '\2682'; }
    51.1% { content: '\2683'; }
    67.8% { content: '\2684'; }
    84.5% { content: '\2685'; }
    100% { content: '\2685'; }
}

/*--------------------------FOOTER--------------------------*/
.footer {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 10px;
}

/*------------------------MEDIUM SCREEN SIZES----------------------*/
@media (max-width: 1400px){
    .content {

    }

    .aside-1 {
        text-align: left;
        padding: 0px;
        max-width: 300px;
    }


    .aside-2, #result-df {
        display: none;
    }

    button {
        margin: 1px;
        margin-left: 10%;
        padding: 5px 5px;
        font-size: 14px;
        cursor: pointer;
        background-color: Grey;
        color: White;
        border: none;
        border-radius: 3px;
    }

    .main {

    }

    #result-container {
        margin-top: 0px;
        width: 90%;
    }
}

/*------------------------PHONE SCREEN SIZES----------------------*/
@media (max-width: 800px) {
    h6 {
        text-align: center;
        padding: 2px;
        margin-bottom: 5px;
        font-size: 14px;
    }

    ul {
      padding-left: 0%;
    }

    .content {
        flex-direction: column;
        justify-content: center;
    }

    .aside-1 {
        text-align: center;
        justify-content: center;
        padding: 0px;
        max-width: 100%;
    }

    .aside-2 {
        display: none;
    }

    .main {
        justify-content: center;
        /*only seems to work properly on test browser*/
        /*margin-right: 3%;*/
    }

    .footer {
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        margin: 0px 5px 5px 5px;
        padding: 5px;
    }

    .dice, #result-df {
        display: none;
    }

    .about {
        font-weight: bold;
        font-size: 14px;
        text-align: left;
        margin: 10px 10% 10px 10%;
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 2px;
    }

    ul {
        list-style: none;
    }

    button {
      margin: 1px;
      padding: 5px 5px;
      font-size: 16px;
      cursor: pointer;
      background-color: Grey;
      color: White;
      border: none;
      border-radius: 3px;
    }

    #category-container {

    }

    #category-list {
    /*allows the category list to scroll well*/
        max-height: 200px;
    }

    #result-container {
        margin-top: 0px;
        width: 100%;
    }

    #result-json {
        font-size: 14px;
        padding: 3px;
        /*allows result box to resize*/
        /*resize: none;*/
    }

    #reroll-btn {
        margin-left: 65px;
    }

}

